/* red Color */
:root {
    --t1b: #070A52;
    --t1r1: #D21312;
    --t1r2: #ED2B2A;
    --t1r3: #F15A59;
}
/* light black */
:root {
    --t2b: #393646;
    --t2r1: #4F4557;
    --t2r2: #6D5D6E;
    --t2r3: #F4EEE0;
}


:root {
    --t3o: #FF5200;
    --t3rd: #6F0000;
    --t3bl: #00263B;
    --t3c: #00A1AB;
}



:root {
    --t1b: #070A52;
    --t1r1: #D21312;
    --t1r2: #ED2B2A;
    --t1r3: #F15A59;
}


:root {
    --t1b: #070A52;
    --t1r1: #D21312;
    --t1r2: #ED2B2A;
    --t1r3: #F15A59;
}

:root {
    --t1b: #070A52;
    --t1r1: #D21312;
    --t1r2: #ED2B2A;
    --t1r3: #F15A59;
}

:root {
    --t1b: #070A52;
    --t1r1: #D21312;
    --t1r2: #ED2B2A;
    --t1r3: #F15A59;
}

:root {
    --t1b: #070A52;
    --t1r1: #D21312;
    --t1r2: #ED2B2A;
    --t1r3: #F15A59;
}