/* red Color */
:root {
    --t1b: #070A52;
    --t1r1: #D21312;
    --t1r2: #ED2B2A;
    --t1r3: #F15A59;
}
/* light black */
:root {
    --t2b: #393646;
    --t2r1: #4F4557;
    --t2r2: #6D5D6E;
    --t2r3: #F4EEE0;
}


:root {
    --t3o: #FF5200;
    --t3rd: #6F0000;
    --t3bl: #00263B;
    --t3c: #00A1AB;
}



:root {
    --t1b: #070A52;
    --t1r1: #D21312;
    --t1r2: #ED2B2A;
    --t1r3: #F15A59;
}


:root {
    --t1b: #070A52;
    --t1r1: #D21312;
    --t1r2: #ED2B2A;
    --t1r3: #F15A59;
}

:root {
    --t1b: #070A52;
    --t1r1: #D21312;
    --t1r2: #ED2B2A;
    --t1r3: #F15A59;
}

:root {
    --t1b: #070A52;
    --t1r1: #D21312;
    --t1r2: #ED2B2A;
    --t1r3: #F15A59;
}

:root {
    --t1b: #070A52;
    --t1r1: #D21312;
    --t1r2: #ED2B2A;
    --t1r3: #F15A59;
}




/* colors shades */


/* red color */
:root{
    --r1:rgb(28, 0, 0);
    --r1:rgb(77, 0, 0);
    --r1:rgb(128, 0, 0);
    --r1:rgb(179, 0, 0);
    --r1:rgb(230, 0, 0);
    --r1:rgb(230, 0, 0);
    --r1:rgb(230, 0, 0);
    --r1:rgb(230, 0, 0);
    --r1:rgb(255, 179, 179);
    --r1:rgb(255, 179, 179);
}

/* green color */
:root{
    --r1:rgb(0, 28, 0);
    --r1:rgb(0, 77, 0);
    --r1:rgb(0, 128, 0);
    --r1:rgb(0, 179, 0);
    --r1:rgb(0, 230, 0);
    --r1:rgb(26, 255, 26);
    --r1:rgb(77, 255, 77);
    --r1:rgb(128, 255, 128);
    --r1:rgb(179, 255, 179);
    --r1:rgb(229, 255, 229);
}


/* blue color */
:root{
    --r1:rgb(0, 0, 28);
    --r1:rgb(0, 0, 77);
    --r1:rgb(0, 0, 128);
    --r1:rgb(0, 0, 179);
    --r1:rgb(0, 0, 230);
    --r1:rgb(26, 26, 255);
    --r1:rgb(77, 77, 255);
    --r1:rgb(77, 77, 255);
    --r1:rgb(179, 179, 255);
    --r1:rgb(179, 179, 255);
}


/* cyan color */
:root{
    --r1:rgb(0, 28, 28);
    --r1:rgb(0, 76, 77);
    --r1:rgb(0, 127, 128);
    --r1:rgb(0, 178, 179);
    --r1:rgb(0, 229, 230);
    --r1:rgb(0, 229, 230);
    --r1:rgb(77, 255, 255);
    --r1:rgb(128, 255, 255);
    --r1:rgb(179, 255, 255);
    --r1:rgb(229, 255, 255);
}


/* magenta color */
:root{
    --r1:rgb(28, 0, 28);
    --r1:rgb(77, 0, 76);
    --r1:rgb(128, 0, 127);
    --r1:rgb(179, 0, 178);
    --r1:rgb(230, 0, 229);
    --r1:rgb(255, 26, 255);
    --r1:rgb(255, 77, 255);
    --r1:rgb(255, 77, 255);
    --r1:rgb(255, 179, 255);
    --r1:rgb(255, 229, 255);
}



/* yellow color */
:root{
    --r1:rgb(28, 28, 0);
    --r1:rgb(76, 77, 0);
    --r1:rgb(127, 128, 0);
    --r1:rgb(178, 179, 0);
    --r1:rgb(229, 230, 0);
    --r1:rgb(255, 255, 26);
    --r1:rgb(255, 255, 77);
    --r1:rgb(255, 255, 128);
    --r1:rgb(255, 255, 179);
    --r1:rgb(255, 255, 229);
}